
body {
  font-family: "Poppins", sans-serif;
  background-image: url(wallpaper-gif-4.gif);
  background-repeat:no-repeat ;
  background-attachment:fixed ;
  background-size:cover ;
  background-position:center ;
  color: #f1f5f9;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}


header {
  text-align: center;
  background-color: #35058fab;
  padding: 30px 0;
  box-shadow: 0 22px 22px rgba(0, 0, 0, 0.899);
   border-radius: 12px;
   box-shadow: #06efd8;}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
     margin: 0 15px;
    justify-content:flex-end;
}


header h1 {
  font-size: 2.2em;
  color: #000000;
  letter-spacing: 2px;
  margin: 0;
}


section {
  margin: 40px auto;
  width: 80%;
  max-width: 800px;
  background-color: #3c0d92b1;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 22px 22px rgba(0, 0, 0, 0.899);
}

section h1 {
  font-size: 1.8em;
  color: #000000;
  border-bottom: 2px solid #05ec9b;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #e2e8f0;
  font-weight: 500;
  transition: 0.3s;
}

a:hover {
  color: #000000;
  text-shadow: 0 0 5px #0a0638;
  box-shadow: hsla(174, 95%, 48%, 0.697);
}


h2 {
  background-color: #06efd85f;
  padding: 12px 15px;
  margin: 10px 0;
  border-radius: 8px;
  transition: 0.3s ease;
  box-shadow: #9bd30e;
}

h2:hover {
  background-color: #0789a3ac;
  transform: translateX(5px);
  box-shadow: #06efd89d;
}

form {
  text-align: center;
  padding: 30px;
  color: #94a3b8;
}
footer{          
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;   }
